langchain>=0.1.0
langchain-community
chromadb[grpc]>=0.4.0
openai>=1.0.0
unstructured>=0.10.0
unstructured[docx]
pypdf>=3.0.0
tqdm
tiktoken
sentence-transformers
fastapi
uvicorn[standard]
pydantic
python-multipart
requests
streamlit
chromadb[grpc]==0.4.7
python-multipart
pysqlite3-binary